<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载外部配置文件-->
    <context:property-override location="classpath:db.properties"></context:property-override>

    <!--创建数据库连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"></bean>

    <!--创建sqlSession的工厂-->
    <bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--配置数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--批量设置别名-->
        <property name="typeAliasesPackage" value="cn.peter.pojo"></property>
        <!--加载mybatis的主配置文件-->
        <property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
    </bean>

    <!--mapper扫描-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--配置mapper扫描的包-->
        <property name="basePackage" value="cn.peter.mapper"></property>
        <!--配置sqlSession工厂-->
        <property name="sqlSessionFactoryBeanName" value="sessionFactory"></property>
    </bean>

</beans>